!!! 5
%html
%head
 %title Movies
 = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true 
 = javascript_include_tag 'application', 'data-turbolinks-track' => true 
 = csrf_meta_tags
%body
 %nav.navbar.navbar-default
  .container
   .navbar-brand=link_to "Movies",root_path

   %ul.nav.navbar-nav.navbar-right
    %li=link_to "New Movies",new_post_path,class: "btn btn-default"



=yield
%p.footer Design By: Arjun Ghimire, arjunrazz0714@gmail.com

